<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="card">
        <h5 class="card-header">Calculadora Solar</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 row pa-1">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" id="error-alert" style="display: none">
                            Preencha todos os campos
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="media_diaria">Média de gasto mensal</label>
                        <input type="number" id="media_diaria" class="form-control">
                    </div>
                    <!--<div class="col-md-12 form-group">-->
                    <!--<label for="tipo">Tipo de liga</label>-->
                    <!--<select name="tipo" id="tipo" class="form-control">-->
                    <!--<option value="" disabled>Selecione um tipo</option>-->
                    <!--<option value="30">Monofásico</option>-->
                    <!--<option value="50">Bifásico</option>-->
                    <!--<option value="100">Trifásico</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <div class="col-md-12 form-group">
                        <label for="estado">Estado</label>
                        <select name="estado" id="estado" class="form-control">
                            <option value="" disabled selected>Selecione um estado</option>
                        </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="cidade">Cidade</label>
                        <select name="cidade" id="cidade" class="form-control">
                            <option value="" disabled selected>Selecione um estado</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success" id="btn-calcular">Calcular</button>
                        <div class="spinner-border" role="status" id="loading" style="display: none">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row pa-1">
                    <div class="alert alert-danger" role="alert" id="not-founded-alert" style="display: none">
                        Não encontramos nenhum dado para esta cidade
                    </div>
                    <div class="col-md-12">
                        <b>Capacidade (potência mínima necessária) kWp</b>:<br>
                        <span id="capacidade">-</span><br>
                    </div>
                    <div class="col-md-12">
                        <b>Peso sobre o telhado Kg</b>:<br>
                        <span id="pesoSobreTelhado">-</span><br>
                    </div>
                    <div class="col-md-12">
                        <b>Área necessária de telhado m²</b>:<br>

                        <span id="areaNecesariaTelhado">-</span><br>
                    </div>
                    <div class="col-md-12">
                        <b>Produção estimada de energia kWh/ano</b>:<br>
                        <span id="producaoEstimadaAno">-</span><br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

<script>
    const mediaMensalInput = $('#media_diaria');
    const estadoInput = $('#estado');
    const cidadeInput = $('#cidade');
    let estados = [];


    function renderSelectEstados() {
        let html = '<option value="" disabled selected>Selecione um estado</option>';

        estados.forEach(estado => {
            html += `<option value="${estado.estado}">${estado.estado}</option>`
        });

        estadoInput.html(html)
    }

    function renderSelectCidades(estadoStr) {
        const estado = estados.find(item => item.estado === estadoStr);

        if (estado === undefined) {
            return
        }

        let html = '<option value="" disabled selected>Selecione uma cidade</option>';

        estado.cidades.forEach(cidade => {
            html += `<option value="${cidade.cidade}">${cidade.cidade}</option>`
        });

        cidadeInput.html(html)
    }

    function validate() {
        const inputs = [
            'media_diaria',
            'estado',
            'cidade'
        ];

        let error = false;

        inputs.forEach(inputName => {
            const value = $(`#${inputName}`).val();

            if ((!value || !value.length) && !error) {
                error = true
            }
        });

        error ? $('#error-alert').show() : $('#error-alert').hide();

        return !error;
    }

    async function calculate() {
        if (!validate()) {
            return
        }
        $('#btn-calcular').hide()
        $('#loading').show()

        const estado = estados.find(item => item.estado === estadoInput.val());
        const cidade = estado.cidades.find(item => item.cidade === cidadeInput.val());

        const mediaAnual = cidade.ghi/365

        if (!mediaAnual) {
            $('#not-founded-alert').show()
            $('#loading').hide()
            $('#btn-calcular').show()
            return
        }

        $('#not-founded-alert').hide()
        $('#loading').hide()
        $('#btn-calcular').show()

        const mediaMensal = mediaMensalInput.val()
        const consumoMedio = (mediaMensal / 30);
        const capacidadeGeracao = (consumoMedio / mediaAnual) * 1.25;
        const pesoSobreTelhado = (capacidadeGeracao / 0.33) * 30;
        const areaNecesariaTelhado = (capacidadeGeracao / 0.33) * 2.2;
        const producaoEstimadaAno = capacidadeGeracao * 30 * mediaAnual * 12;

        console.log({
            mediaMensal,
            consumoMedio,
            capacidadeGeracao,
            pesoSobreTelhado,
            areaNecesariaTelhado,
            producaoEstimadaAno
        })

        $('#capacidade').html(`${parseFloat(capacidadeGeracao).toFixed(2)} kWp`);
        $('#pesoSobreTelhado').html(`${parseFloat(pesoSobreTelhado).toFixed(2)} Kg`);
        $('#areaNecesariaTelhado').html(`${parseFloat(areaNecesariaTelhado).toFixed(2)} m²`);
        $('#producaoEstimadaAno').html(`${parseFloat(producaoEstimadaAno).toFixed(2)}  kWh/ano`);
    }

    $(document).ready(function () {
        $('#btn-calcular').on('click', calculate);

        estadoInput.on('change', function () {
            renderSelectCidades(estadoInput.val())
        });

        $.getJSON(
            "estados.json",
            function (data) {
                estados = data
                renderSelectEstados()
            }
        );
    });
</script>
</body>
</html>
